#nav{
    width: 30px;
    aspect-ratio: 1;
    background-color: #7270c021;
    backdrop-filter: blur(40px);
    width: 50px;
    max-width: 200px;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    height: 100%;
    transition: all 1s ease-in-out;
}

#nav:hover{
    width: 100%;
}

#nav:hover .imageOut{
    margin: 0;
    transform: translateX(0);
}

#nav:hover .nameInfo{
    display: block;
    opacity: 1;
}


// USER OUT TOP NAV

.userOut{
    margin: 5px;
    width: calc(100% - 10px);
    border-bottom: 1.5px solid #dddddd0b;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.imageOut{
    width: 30px;
    aspect-ratio: 1;
    background: #dddddd1d;
    border-radius: 50%;
    // background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: all .3s;
}

